<!DOCTYPE html>
<html>
    <head>
        <title>Ant</title>
        <style>
            h1 {
                font-size: 40px;
                font-family: 'Times New Roman';
                font-weight: normal;
                color: rgb(255, 0, 255);
                text-align: center;
            }

            #placeholder{
                width: 100%;
                height: 360px;
            }
        </style>
    </head>
    <body>
        <h1>Hello, this is my first website following a code along</h1>
        <img id="placeholder" src="http://127.0.0.1:5000/static/placeholder.png" height="320">
        <h2>About me</h2>
        <p>dhufhisfudhfuhauhuisfhusfiuhf. aushiaushd, uashdua, sadad. dsda.</p>
        <button>info</button>
    </body>
</html>  